<div class="button-wrapper">
  <div class="button-flipper">

    <button mat-flat-button
            aria-label="Example icon button with a bookmark icon"
            value="rock"
            (click)="setPlayerMove('rock')">Rock
      <div>
        <mat-icon>hexagon</mat-icon>
      </div>
    </button>

    <button mat-flat-button
            aria-label="Example icon button with a bookmark icon"
            value="paper"
            (click)="setPlayerMove('paper')">Paper
      <div>
        <mat-icon>description</mat-icon>
      </div>
    </button>

    <button mat-flat-button aria-label="Example icon button with a bookmark icon"
            value="scissors"
            (click)="setPlayerMove('scissors')">Scissors
      <div>
        <mat-icon>content_cut</mat-icon>
      </div>
    </button>

  </div>
</div>
